.agents/
**/.venv/
**/.vercel/
**/__pycache__/
**/*.py[cod]

**/.env
**/.env.*
!**/.env.example

backend/best_convnext_model.pth
backend/master_convnext_fold*.pth/
web/anti_spoof_convnext_fold1.onnx

.DS_Store
Thumbs.db
